.coin-detail{
    padding-left: 120px;
    padding-top: 50px;
  }
  
  .time{
      font-weight: bold;
  }
  .coinname{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .name{
      font-weight: bold;
      font-size: 27px;
  }
  .price{
      font-weight: bold;
      font-size: 20px;
      
  }
  .profit{
      display : flex;
      align-items : center;
      font-size: 1.3rem;
      
  }
  
  .rank{
      font-weight: bold;
      font-size: 25px;
      margin-left: 0.5rem;
      margin-top: 1rem;
  }
  
  .info p{
    margin-top: 15px;
    margin-left:0.5rem;
  }
  .coinimage{
    margin-top: 3.8rem;
    margin-bottom: 0.5rem;
  }
  .info{
      width: 20rem;
  }
  .coinprofit{
    margin-left: 0.5rem;
    margin-top:0.5rem;
  }
  
  .btn button{
      background-color: orange;
      border: none;
      border-radius: 10px;
      font-weight: bold;
  }
   .coinprice{
    margin-left: 0.5rem;
    margin-bottom: 1rem;
   }
  .coin-detail{
    display: flex;
    justify-content: center;
  }
  .chart{
    width:80rem;
  }